<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<!DOCTYPE html>
<html lang="en">
<div class="container text-center">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <h1> My portfolio site </h1>

</head>
<body>
 <p> some text.........</p>

    {% for project in projects %}
        <h2> {{project.title}} </h2>
        <p>  {{project.description}} </p>
        <img src = "{{project.image.url}}", height="358", width="678">
    {% if project.url %}
       <br> <a href = "{{project.url}}"> Blog </a>
    {% endif %}
    {% endfor %}

  {% load embed_video_tags %}
</body>

    </div>

</html>
