<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<!DOCTYPE html>
<html lang="en">
<div class="container text-center">
<head>
    <meta charset="UTF-8">
    <title>Django documentation</title>
    <h1> useful info for my learning here </h1>

</head>
<body>
 <p> lazy to google this shit, so I CTRL+C CTRL+V some docs from Django</p>

    {% for blog in blogs %}
        <h2> {{blog.title}} </h2>
        <p>  {{blog.description}} </p>
        <h5> {{ blog.date}}</h5>

 <br>  <img src = "{{blog.image.url}}">
       <br> <a href = "{{blog.url}}"> LINK TO DOCUMENTATION </a>
    {% endfor %}
</body>

    </div>

</html>
